<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Platform</title>
</head>
<body>
    <h2>Add a New Platform</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Platform</button>
    </form>
    
    {% if form.errors %}
        <p style="color:red;">Please fix the errors below.</p>
    {% endif %}
    <a href="{% url 'show_platforms' %}">View Platform Details</a>
</body>
</html>
